

<app-empnav></app-empnav>
<div class="container">
    <div class="row g-3">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-5">
            <div class="row g-3">
               
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                        <h1>Apply Leave</h1>
                    </div>
                    
                </div>
               
           
        </div>    
    </div>
</div>