<app-sec-navbar></app-sec-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 ">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 d-flex justify-content-center align-items-center mt-5">
                    <div style="width: 25rem;" class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2c0ixfmlZX_BRt-zmU7X5rIer1UczGn8mU-u_QrlZj2YAtCVh-oh2-jSQA9V1TPhj7H0&usqp=CAU"
                                alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">{{security[0].name}}</h5>
                            <p class="text-muted mb-1">Email: {{security[0].email}}</p>
                            <p class="text-muted mb-1">Phone: {{security[0].phone}}</p>
                            <p class="text-muted mb-1">Username: {{security[0].username}}</p>
                            <div class="d-flex justify-content-center mb-2">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>